:root {
    --font-official: "Times", "Source Code Pro", "PT Serif", "Libre Baskerville", "Lora", "Mukta", "Noto Sans", "Georgia", "Segoe UI Symbol", "Segoe MDL2 Assets", "仿宋", serif;
    --background-green: linear-gradient(to right, rgb(18, 44, 56), rgb(46, 167, 206), rgb(18, 44, 56));
    --background-purple: linear-gradient(to right, rgb(76, 13, 122), rgb(185, 33, 196), rgb(76, 13, 122));
    --border-green: #007bff solid 1px;
    --background-black: #15171E;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1000px;
    min-height: 700px;
    background: #15171E;
    color: white;
    font-family: var(--font-official);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: 10px;
    border: solid white 1px;
    height: 100%;
    background: var(--background-green);
}

.password-display {
    background: white;
    text-align: center;
    color: black;
    border-radius: 4px;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    width: 300px;
    border: 1px solid black;
    padding: 1rem;
}

.form-group {
    flex-grow: 4;
    margin: 50px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
}

.item1 {
    display: grid;
    grid-column-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
}

.item2, .item3, .item4 {
    display: flex;
    flex-direction: row;
    grid-area: checkbox;
    align-items: center;
}

.item2 label, .item3 label, .item4 label {
    flex-grow: 3;
}

.item2 input, .item3 input, .item4 input {
    flex-grow: 1;
    border-radius: 5px;
}

.item1 input:first-child {
    flex-grow: 1;
}

.input {
    width: 10rem;
}

.input-box {
    border-radius: 5px;
    color: black;
    border: #000000;
    background: white;
}

.input-box:hover {
    border: var(--border-green);
}

.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    grid-column-end: span 2;
}

.submit-btn, .reset-btn {
    font-family: var(--font-official);
    border-radius: 5px;
    margin: 35px auto;
    display: inline-block;
    height: 50px;
    width: 120px;
    transition: all 0.4s ease-in-out;

}

.submit-btn:hover, .reset-btn:hover {
    border: var(--border-green);
    animation: bounce 0.23s 2 linear alternate;
    background: transparent;
    color: white;
    transform: scale(1.1);
}

@keyframes bounce {
    50% {
        transform: rotate(3deg);
    }
}